body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
table , td{
  empty-cells: show;
  border: 1px solid black;
}
tr {
  height: 70px;
}
#elevator1, #elevator2, #elevator3, #elevator4, #elevator5 {
  background-color: black
} 